form {
  width: 80%;
  margin: auto;
  height: 200px;
}
#parag1 {
  color: red;
  font-size: 22px;
}
#parag2 {
  color: red;
  font-size: 22px;
}
#parag3 {
  color: red;
  font-size: 22px;
}
